.App {
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 110px;
    width: 600px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.App footer {
    font-size: 12px;
    margin-left: 5px;
}