.App {
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 110px;
    width: 600px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.App footer {
    font-size: 10px;
    margin-left: 5px;
    margin-top: 10px;
}

.App .esra {
    text-decoration: none;
}

.App .esra:hover {
    text-decoration: underline;
}

.App .ayaz {
    text-decoration: none;
}

.App .ayaz:hover {
    text-decoration: underline;
}